#hideNav {
    display: none;
}

#navs {
    position: fixed;
    right: 14px;
    top: 15px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 11;
}

#navs>li,
#navs:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #e74c3c;
}

#navs>li {
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: .6s;
}

#navs:after {
    content: attr(data-close);
    z-index: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

#navs.active:after { content: attr(data-open); }

#navs a {
    width: 90px;
    height: 90px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}