#hideNav {
    display: none;
}

/* Reset */
#menu ul, #menu li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#menu {
    z-index: 5;
}

/* Globals */
article, aside, details,
figcaption, figure, footer,
header, hgroup, nav,
section { display: block; }
a {text-decoration: none; color: #7da12a;}
a:hover {text-decoration: underline; color: #000;}
clearfix:after { /* clearfix */
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/* Layout */
.container {
    width: 100%;
    overflow: hidden;
    position: relative;
}
#header {
    display: none;
    padding: 2.5em 3%;
    overflow: hidden; /* Clearing float so you can see background color */
}
[role="main"] h1,
[role="complementary"] h1 {
    font-size: 18px;
    margin: 0 0 1em;
    font: 1.7em Georgia, Times New Roman, Times, serif;
    line-height: 1;
}
[role="main"]:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #eee;
    box-shadow: inset -3px 0 5px rgba(0,0,0,.1);
}
[role="complementary"],
[role="main"],
#header {
    -webkit-transition: .25s all ease-in;
    -moz-transition: .25s all ease-in;
    -o-transition: .25s all ease-in;
    -ms-transition: .25s all ease-in;
    transition: .25s all ease-in;
}
[role="navigation"],
[role="main"],
[role="complementary"] {
    width: 90%;
    padding: 5%;
    display: block;
    position: relative;
}
[role="main"] {
    width: 90.2%; /* webkit browsers act weird with % */
}
.js [role="complementary"] {
    margin-left: -100%;
    width: 70%;
    float: left;
    padding-bottom: 25em;
}
.js [role="main"] {
    margin-left: 0;
    background: #fff;
    float: right;
    position: relative;
}
.js [role="navigation"] {
    margin: 0;
    clear: both;
}
.active-sidebar [role="complementary"] {
    margin-left: 0;
    width: 69%;
}
.active-sidebar [role="main"]{
    margin-right: -80%;
}

/* Header */
#site-title {
    position: relative;
    float: left;
    width: 31%;
    margin-left: 3%;
}
#site-title a {
    font-size: 0;
    display: block;
    width: 170px;
    height: 42px;
    color: transparent;
    background: transparent url('http://static.lukew.com/lukew_sprite_06072012.png') no-repeat left top;
}
/* Off Canvas/footer Anchor Navigation */
.off-canvas-nav-links ul {
    list-style: none;
}
.menu-button,
.sidebar-button {
    padding: 1em;
    font-size: 14px;
    display: block;
    position: absolute;
    background: #7da12a;
    width: 25%;
    text-align: center;
    color: #fff;
}
.menu-button {
    top: 0;
    right: 3%;
}
.sidebar-button {
    top: 50px;
    right: 3%;
}
/* Site Menu */
[role="navigation"] li {
    list-style: none;
    font-size: 18px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
[role="navigation"] li a {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 25px 2em;
    border-bottom: 1px dotted #7D9958;
    border-left: solid 8px #9FB84C;
    height: 75px;
}
.js [role="navigation"] li .subnav-toggle {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(45,45,45,.1);
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    padding-top: 25px;
    padding-bottom: 19px;
    text-align: center;
    width: 75px;
    height: 75px;
    cursor: pointer;
    font-size: 0;
    color: transparent;
}
.js [role="navigation"] li .subnav-toggle:before {
    content: "+";
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    padding-top: 26px;
    padding-bottom: 19px;
    text-align: center;
    width: 75px;
    height: 75px;
    cursor: pointer;
    color: #999;
    font-size: 1rem;
}
.js [role="navigation"] li .subnav-toggle.active-parent:before {
    content: "-";
}
.js [role="navigation"] li a {
    padding-left: 75px;
}
.js [role="navigation"] li ul {
    -ms-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
}
.js [role="navigation"] li ul li {
    background: #fff;
    position: relative;
    z-index: 3;
}
.js [role="navigation"] li ul li a {
    border-bottom: 1px solid #7D9958;
    font-size: 1rem;
}
.js [role="navigation"] li ul.active-subnav {
    max-height: 500px;
    opacity: 1;
}
.site-footer {
    overflow: hidden;
    padding: 5%;
    width: 90%;
    clear: both;
    margin: 0 auto;
    border-top: solid 1px #C9C9C9;
    background: -moz-linear-gradient(top, rgba(235, 236, 234, 1) 0%, rgba(255, 255, 255, 1) 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235, 236, 234, 1)), color-stop(80%,rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(235, 236, 234, 1) 0%,rgba(255, 255, 255, 1) 80%);
    background: linear-gradient(top, rgba(235, 236, 234, 1) 0%,rgba(255, 255, 255, 1) 80%);
}
.site-footer ul {
    list-style: none;
}
.site-footer li a {
    margin: .5em .5em .5em 0;
}

@media all and (min-width: 768px) {
    div {
        padding-top: 5em;
    }
    #site-title {
        font-size: 56px;
        margin-left: 0;
    }
    .container {
        margin-bottom: 100px;
    }
    .js .off-canvas-nav-links, .sidebar-button {
        display: none;
    }
    .js [role="complementary"] {
        position: relative;
        width: 28%;
        margin-left: 0;
        float: left;
        padding: 3%
    }
    .js [role="main"] {
        width: 60%;
        padding: 3%;
    }
    .js [role="navigation"] {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-right: 0;
        clear: both;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
    }
    .js [role="navigation"] li {
        width: 33.33%;
        position: relative;
        background: rgb(255,255,255);
        background: rgba(255,255,255,.99);
        z-index: 4;
    }
    .js [role="navigation"] li ul li {
        width: 100%;
    }
    .js [role="navigation"] li ul {
        position: absolute;
        top: 0px;
        opacity: 0;
        max-height: 0px;
    }
    .js [role="navigation"] li ul li {
        background: #fff;
        position: relative;
        z-index: 3;
    }
    .js [role="navigation"] li ul.active-subnav {
        opacity: 1;
        top: 74px;
        max-height: 500px;
    }
    .js [role="navigation"] li a {
        width: 100%;
    }
    .site-footer {
        margin: 0 auto 100px;
    }
    .js [role="navigation"] li {
        float: left;
    }
    .js [role="navigation"] li a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
@media all and (min-width: 960px) {
    #site-title {
        font-size: 56px;
        margin-left: 0;
    }
}
