@media screen and (min-width: 481px) and (orientation: portrait) {
    body {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 737px) and (orientation: landscape) {
    body {
        font-size: 1.25em;
    }
}

a, a:hover, a:active {
    color: #0000de;
}

html {
    overflow: hidden;
}

#messageBox {
    transition: all 2s linear;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1024px;
    width: 100%;
    height: 100%;
    background: #d6d6d6;
    z-index: 1;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 1;
}

#messageToUser {
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s;
    margin-top: -1.5em;
    padding: 1em;
}

#loading, #submitting {
    display: block;
    font-weight: bold;
}

#submitting {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 250%;
}

#ready {
    display: none;
}

#noScript {
    margin-top: -9.15em;
    padding: 1em;
}

#interactWithNav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    display: table;
    text-align: center;
}

.centreBtn {
    text-align: center;
}

button {
    max-width: 10em;
    height: 3em;
    width: 100%;
    padding: 0.05em;
    font-size: 1.0em;
    border: none;
    background: #008484;
    color: #FFFFFF;
    border-radius: 1em;
    cursor: pointer;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
    transition: background-color 0.2s linear 0s;
}

#choice {
    text-align: center;
}

#choice img {
    width: 130px;
    height: 130px;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
}

#choice .left, .flipTrace, .flipContent {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#interactWithNavFrame {
    border: 0;
    width: 100%;
    height: 100%;
}


#task, #done, #url {
    display: none;
}

#doneBtn, #taskBtn {
    z-index: 0;
    position: fixed;
    top: auto;
    bottom: 40px;
}

div .selectStatistics {
    border-right: 2px solid black;
}

div .selectStatistics:last-child {
    border-right: none;
}