#hideNav {
    display: none;
}

#mainContent {
    margin: 8px;
    padding-top: 5em;
}

.demo .item{
    margin-bottom: 60px;
}

#navPosition {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 1;
}

.content-slider li{
    background-color: #ff9999;
    text-align: center;
}

.content-slider a {
    color: #FFF;
    text-decoration: none;
}

.content-slider h3 {
    margin: 0;
    padding: 30px 0;
}
.demo{
    width: 800px;
}